In [1]:
import numpy as np # linear algebra
import pandas as pd

In [2]:
#Loadind Dataset using pandas:
data = pd.read_csv("/kaggle/input/loan-prediction-dataset-2025/loan_dataset_20000.csv")

In [16]:
# Displaying Dataset, its shape,info and stastical information:
print("Data first three rows: ")
print(data.head(2))
print("********************************************************")
print("Dataset shape: ")
print(data.shape)
print("********************************************************")
print("Dataset info: ")
print(data.info())
print("********************************************************")
print("Dataset stastical description: ")
print(data.describe())

Data first three rows:
   age  gender marital_status education_level  annual_income  monthly_income  \
0   59    Male        Married        Master's       24240.19         2020.02
1   72  Female        Married      Bachelor's       20172.98         1681.08

  employment_status  debt_to_income_ratio  credit_score  loan_amount  ...  \
0          Employed                 0.074           743     17173.72  ...
1          Employed                 0.219           531     22663.89  ...

  loan_term  installment  grade_subgrade  num_of_open_accounts  \
0        36       581.88              B5                     7
1        60       573.17              F1                     5

  total_credit_limit  current_balance  delinquency_history  public_records  \
0           40833.47         24302.07                    1               0
1           27968.01         10803.01                    1               0

   num_of_delinquencies  loan_paid_back
0                     1               1
1                     3               1

[2 rows x 22 columns]
********************************************************
Dataset shape:
(20000, 22)
********************************************************
Dataset info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   age                   20000 non-null  int64
 1   gender                20000 non-null  object
 2   marital_status        20000 non-null  object
 3   education_level       20000 non-null  object
 4   annual_income         20000 non-null  float64
 5   monthly_income        20000 non-null  float64
 6   employment_status     20000 non-null  object
 7   debt_to_income_ratio  20000 non-null  float64
 8   credit_score          20000 non-null  int64
 9   loan_amount           20000 non-null  float64
 10  loan_purpose          20000 non-null  object
 11  interest_rate         20000 non-null  float64
 12  loan_term             20000 non-null  int64
 13  installment           20000 non-null  float64
 14  grade_subgrade        20000 non-null  object
 15  num_of_open_accounts  20000 non-null  int64
 16  total_credit_limit    20000 non-null  float64
 17  current_balance       20000 non-null  float64
 18  delinquency_history   20000 non-null  int64
 19  public_records        20000 non-null  int64
 20  num_of_delinquencies  20000 non-null  int64
 21  loan_paid_back        20000 non-null  int64
dtypes: float64(8), int64(8), object(6)
memory usage: 3.4+ MB
None
********************************************************
Dataset stastical description:
                age  annual_income  monthly_income  debt_to_income_ratio  \
count  20000.000000   20000.000000    20000.000000          20000.000000
mean      48.027000   43549.637766     3629.136466              0.177019
std       15.829352   28668.579671     2389.048326              0.105059
min       21.000000    6000.000000      500.000000              0.010000
25%       35.000000   24260.752500     2021.730000              0.096000
50%       48.000000   36585.260000     3048.770000              0.160000
75%       62.000000   54677.917500     4556.495000              0.241000
max       75.000000  400000.000000    33333.330000              0.667000

       credit_score   loan_amount  interest_rate    loan_term   installment  \
count   20000.00000  20000.000000   20000.000000  20000.00000  20000.000000
mean      679.25695  15129.300909      12.400627     43.22280    455.625794
std        69.63858   8605.405513       2.442729     11.00838    274.622125
min       373.00000    500.000000       3.140000     36.00000      9.430000
25%       632.00000   8852.695000      10.740000     36.00000    253.910000
50%       680.00000  14946.170000      12.400000     36.00000    435.595000
75%       727.00000  20998.867500      14.002500     60.00000    633.595000
max       850.00000  49039.690000      22.510000     60.00000   1685.400000

       num_of_open_accounts  total_credit_limit  current_balance  \
count          20000.000000        20000.000000     20000.000000
mean               5.011800        48649.824769     24333.394631
std                2.244529        32423.378128     22313.845395
min                0.000000         6157.800000       496.350000
25%                3.000000        27180.492500      9592.572500
50%                5.000000        40241.615000     18334.555000
75%                6.000000        60361.257500     31743.327500
max               15.000000       454394.190000    352177.900000

       delinquency_history  public_records  num_of_delinquencies  \
count         20000.000000    20000.000000          20000.000000
mean              1.990150        0.061800              2.489150
std               1.474945        0.285105              1.631384
min               0.000000        0.000000              0.000000
25%               1.000000        0.000000              1.000000
50%               2.000000        0.000000              2.000000
75%               3.000000        0.000000              3.000000
max              11.000000        2.000000             11.000000

       loan_paid_back
count    20000.000000
mean         0.799900
std          0.400085
min          0.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          1.000000

In [48]:
print(data.isnull().sum())
#No null values so lets move to next step

age                     0
gender                  0
marital_status          0
education_level         0
annual_income           0
monthly_income          0
employment_status       0
debt_to_income_ratio    0
credit_score            0
loan_amount             0
loan_purpose            0
interest_rate           0
loan_term               0
installment             0
grade_subgrade          0
num_of_open_accounts    0
total_credit_limit      0
current_balance         0
delinquency_history     0
public_records          0
num_of_delinquencies    0
loan_paid_back          0
dtype: int64

In [125]:
print(data['employment_status'].value_counts())
print("********************************************************")
print(data['loan_paid_back'].value_counts())
data.info()

employment_status
Employed         13007
Self-employed     2923
Unemployed        2113
Retired           1176
Student            781
Name: count, dtype: int64
********************************************************
loan_paid_back
1    15998
0     4002
Name: count, dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   age                   20000 non-null  int64
 1   gender                20000 non-null  object
 2   marital_status        20000 non-null  object
 3   education_level       20000 non-null  object
 4   annual_income         20000 non-null  float64
 5   monthly_income        20000 non-null  float64
 6   employment_status     20000 non-null  object
 7   debt_to_income_ratio  20000 non-null  float64
 8   credit_score          20000 non-null  int64
 9   loan_amount           20000 non-null  float64
 10  loan_purpose          20000 non-null  object
 11  interest_rate         20000 non-null  float64
 12  loan_term             20000 non-null  int64
 13  installment           20000 non-null  float64
 14  grade_subgrade        20000 non-null  object
 15  num_of_open_accounts  20000 non-null  int64
 16  total_credit_limit    20000 non-null  float64
 17  current_balance       20000 non-null  float64
 18  delinquency_history   20000 non-null  int64
 19  public_records        20000 non-null  int64
 20  num_of_delinquencies  20000 non-null  int64
 21  loan_paid_back        20000 non-null  int64
dtypes: float64(8), int64(8), object(6)
memory usage: 3.4+ MB

In [136]:
# changing catogorical column to numbers so ML models can use them to make some predictions:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
string_col =  data.select_dtypes(include='object')
for col in string_col:
    data[col] = le.fit_transform(data[col])

In [141]:
X = data.drop('loan_paid_back',axis=1)
y = data['loan_paid_back']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [148]:
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
xgb = XGBClassifier()
xgb.fit(X_train,y_train)
pre = xgb.predict(X_test)
acc = accuracy_score(pre,y_test)
acc

0.8925757575757576